
<div class="img">
    <div class="grad">
        <div class="login-div">
            
            <form action="" class="form dds__d-flex dds__flex-column dds__justify-content-center ">
                <div>
                    <img src="assets/images/logo.png" class="margin-title" alt="">
                </div>

              
                <div class="dds__d-flex dds__flex-column dds__w-80 dds__mb-2 dds__position-relative  margin-20">
                    <label for="" class="mb-1">Usuário</label>
                    <input class=" dds__p-2" type="text" placeholder="email@domain.com">
                </div>
            
                 
                <div class="dds__d-flex dds__flex-column dds__w-80 dds__mb-2 dds__position-relative  margin-20">
                    <label for="" class="mb-1">Senha</label>
                    <input class=" dds__p-2" type="password" placeholder="password">
                </div>

                <button class=" dds__btn btn__login">
                    <b>
                        ENTRAR
                    </b>
                </button>
            
            </form>
        </div>
        
    </div>
</div>