.title1-genre{
    border-radius: 30px;
    color: white;
    font-size: 1cm;
    vertical-align: middle;
}

.black{
    padding-top: 60px;
    //padding-bottom: 40px;
    background-image:  linear-gradient( rgb(51, 51, 51), black);
}

.mySwiper{
    height: 50vh;
    background-color:  transparent;
}

.img-movie{
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.center{
    width: 100%;
    text-align: center;
}